<div class="container">
  <div class="row">
    <div class="col col-sm-4 col-sm-offset-4">
      <%= simple_form_for @restaurant do |f| %>
        <%= f.input :name %>
        <%= f.input :category, as: :radio_buttons, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
