<h1> Restaurants</h1>
<h2> Vote for your f</h2>
<!-- display all the pets -->
<% @restaurants.each do |r| %>
  <h2> <%= link_to r.name , restaurant_path(r) %></h2>
  <p> Location: <%= r.address %></p>
  <p> Cusine type: <%= r.category %></p>
  <p> Contact: <%= r.phone_number %></p>
<% end %>
<p><%= link_to "Have a favourite restaurant? Add them here!", new_restaurant_path %></p>
